body {
  margin: 0;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Google Sans", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff; /* Warmer white background */

}

html,
body {
  width: 100vw;
  overflow-x: hidden;
  scrollbar-width: none;
  background-color: #fff; /* Warmer white background */

}
